$white: #dedede;
$lotus: #e0c1bf; // text, names, classes
$baked: #d68067; // variable, tag
$reeds: #dccca1; // function
$olive: #2e2d1c;
$chive: #555f47; // comment, punctuation
$black: #0a2619;
$foamy: #729a89; // string
$coral: #145c62; // keyword, operator
$royal: #0e2d31;
$berry: #2a2858;
$candy: #de2136; // invalid
$wines: #703d41; // number
