$white: #dedede;
$lotus: #e0c1bf;
$baked: #d68067;
$reeds: #dccca1;
$olive: #2e2d1c;
$chive: #555f47;
$black: #0a2619;
$foamy: #729a89;
$coral: #145c62;
$royal: #0e2d31;
$berry: #2a2858;
$candy: #de2136;
$wines: #703d41;
